.search {
  position: absolute;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  width: 200px;
  height: 25px;
}
.searchLabel {
  color: white;
  position: absolute;
  top: 100px;
  left: 40%;
}
.divTable {
  display: table;
  width: 69vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 150px;
}

.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
